html {
  min-height: 100%;

  display: flex;
  flex-direction: column;

  background-color: hsl(203, 100%, 12%);
  background-image: url('./bg.svg');
  background-size: cover;
  color: var(--default-text-color);
  font-family: var(--default-font);

}

body {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  color: #00eeff;
}

a {
  &, &:visited {
    color: var(--link-color);
  }
  &:hover, &:active {
    color: var(--link-color-hover);
  }
}

hr {
  border: 0;
  border-top: 1px solid var(--default-text-color);
}