html {
  min-height: 100%;

  display: flex;
  flex-direction: column;

  background-color: hsl(203, 100%, 12%);
  background-image: url('./bg.svg');
  background-size: cover;
  color: var(--default-text-color);
  font-family: var(--default-font);

}

body {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  color: #00eeff;
}

a {
  &, &:visited {
    color: var(--link-color);
  }
  &:hover, &:active {
    color: var(--link-color-hover);
  }
}

hr {
  border: 0;
  border-top: 1px solid var(--default-text-color);
  margin: 1rem 0;
}

.indent-1 {
  margin-left: 1ch;
  @media (min-width: 530px) {
    margin-left: 2ch;
  }
}

.padding-indent-1 {
  padding-left: 1ch;
  @media (min-width: 530px) {
    padding-left: 2ch;
  }
}

i {
  &.var {
    color: #569cd6;
    font-style: normal;
  }
  &.keyword {
    color: #c586c0;
    font-style: normal;
  }
  &.bracket {
    color: var(--title-text-color);
    font-style: normal;
  }
}