@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --title-text-color: #21edff;
  --default-text-color: #fafafa;
  --header-font: 'VT323', monospace;
  --content-max-width: 600px;
  --default-font: monospace;

  --link-color: #85edff;
  --link-color-hover: #ffffff;
}