@import '@fontsource/fira-mono';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: #149414;
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	color: whitesmoke;
}

@font-face {
	font-family: '8801';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/8801-DKnR.ttf'); /* IE9 Compat Modes */
	src: local(''), url('/fonts/8801-DKnR.ttf') format('truetype')
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	background: black;
}

h1 {
	font-size: 2rem;
	color: #149414;
	font-family: '8801';
}

h2 {
	color: #0e6b0e;
	font-size: 1rem;
	font-family: '8801';
	letter-spacing: 1px;
}

a {
	color: #149414;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
